.commits-container{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    padding-top: 25px;
    width: 100%;
}

.commit-item{
    width: calc(20% - 20px);
    border-radius: 5px;
    background-color: white;
}

.commit-item-header{
    padding: 0 10px;
    border-bottom: 1px solid #DCDCDC;
}

.commit-item-body{
    padding: 20px 10px;overflow: auto;
}

.commit-item-committer{
    display: flex;
    gap: 15px;
}

.commit-item-committer-icon{
    width: 20%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(6, 171, 239, 0.25);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commit-item-committer-name{
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.commit-item-content{
    padding: 20px 0;
}
.commit-item-content > p {
    display: flex;
    align-items: center;
    gap: 10px;
}
.commit-item-content > p > span{
    font-size: 1.25rem;
}


@media only screen and (max-width: 992px) {
    
.commit-item{
    width: 100%;
    border-radius: 5px;
    background-color: white;
}


}