

.header{
  background-color: white;
  z-index: 1;
  text-align: center;
  padding-top: 5px;
  height: 80px;
}

.header > img{
  height: 70px;
}


.menu{
  height: 100%;
  border-right: 0;
  padding-top: 25px;
}

.h-full{
  height: 100vh;
}

.animation {
  transition: all 2s;
}


.padding-content {
  padding: 25px;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.layout-content {
  height: calc(100vh - 80px);
  animation: fadeIn 2s;
  overflow: auto;
}

.b-shadow {
  box-shadow: 0 5px 5px #dcdcdc;
}


.sider-expanded {
  flex: 0 0 200px;
  min-width: 200px;
  max-width: 200px;
  width: 200px;
  background-color: white;
  animation: expandedSider 2s;
}

.fade-in{
  animation: fadeIn 2s;
}

.ant-layout
  .ant-layout-sider-trigger,
  .ant-btn-primary  {
  background-color: #06abef !important;
}

.ant-pagination
  .ant-pagination-item-active,
.ant-pagination
  .ant-pagination-item-active:hover {
    border-color: #06abef;
  }

  .ant-btn-default:not(
    :disabled
  ):not(.ant-btn-disabled):hover,
.ant-btn-default:not(
    :disabled
  ):not(.ant-btn-disabled):active {
  color: #06abef !important;
  border-color: #06abef !important;
}


.ant-pagination
  .ant-pagination-item-active
  a {
  color: #06abef !important;
}

.ant-menu-light
  .ant-menu-item-selected,
.ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  color: black !important;
  font-weight: bold !important;
  background-color: rgba(6, 171, 239, 0.25) ;
}


@keyframes expandedSider {
  from {
    flex: 0 0 0;
    min-width: 0;
    max-width: 0;
    width: 0;
  }
  to {
    flex: 0 0 200px;
    min-width: 200px;
    max-width: 200px;
    width: 200px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



@media only screen and (max-width: 992px) {

  .sider-expanded {
    flex: 0 0 80px;
    min-width: 80px;
    max-width: 80px;
    width: 80px;
    background-color: white;
    animation: expandedSider 2s;
  }

  @keyframes expandedSider {
    from {
      flex: 0 0 0;
      min-width: 0;
      max-width: 0;
      width: 0;
    }
    to {
      flex: 0 0 80px;
      min-width: 80px;
      max-width: 80px;
      width: 80px;
    }
  }
}
