
.h-full{
  height: 100vh;
}


.padding-content {
  padding: 25px;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.h-content-100 {
  height: calc(100vh - 114px);
}

.b-shadow {
  box-shadow: 0 5px 5px #dcdcdc;
}

@keyframes expanded {
  from {
    flex: 0 0 0;
    min-width: 0;
    max-width: 0;
    width: 0;
  }
  to {
    flex: 0 0 200px;
    min-width: 200px;
    max-width: 200px;
    width: 200px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
